*{
    margin: 0;
    padding: 0;
    
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: hsl(221, 20%, 78%);
    place-items: center;
    font-family: sans-serif;
    max-width: 375px;
    margin: auto;
    height: 100vh;

    display: grid;
}
.div-principal{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;

    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
}
.qr img{
    width: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;

    text-align: center;
    margin: 0 24px;
    padding-bottom: 25px;
}
.div-content h2{
    font-size: 24px;
    line-height: 1.2;
}
.div-content p{
    color: gray;
}